#mainDiv{
    display: flex;
    border: 2px solid green; /* Remove */
    padding: 20px;
    padding:10px 20px 10px 20px;
}
aside {
    display:inline-block;
    width: 20%;
    margin-right: 20px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: bolder;
}
.checkOut,
.cart {
    display: block;
    border: 2px solid rgb(159, 159, 159);
    border-radius: 20px;
    height: auto;
    margin: 10px 0px 10px 0px;
    padding: 5px 20px 5px 20px;
}
label,
input {
    width: 100%;
}

main {
    display: block;
    width: 80%;
    border: 2px solid blue; /* Remove */
}