#mainDiv{
    display: flex;
    padding: 20px;
    padding:10px 20px 10px 20px;
    background-color:rgb(243, 255, 242);
}
hr {
    margin: 0px;
}
aside {
    display:inline-block;
    width: 20%;
    margin-right: 20px;
}
/* TODO: Add hover/active effects to submit and button*/
.title{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: bolder;
}
.checkOut,
.cart {
    display: block;
    border: 2px solid rgb(159, 159, 159);
    border-radius: 20px;
    height: auto;
    margin: 10px 0px 10px 0px;
    padding: 5px 20px 5px 20px;
}
.totalCost {
    font-weight: bold;
}
label,
input {
    width: 100%;
}




main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px;
    width: 80%;
}

.card{
    display: block;
    width: 240px;
    height: 350px;
    border: 2px solid rgb(44, 144, 44);
    background-color: rgb(226, 255, 225);
    border-radius: 25px;
    margin: 5px;
    position: relative;
}

.birdName,
.birdImage,
.birdPrice,
.birdAdopt {
    display: flex;
    justify-content: center;
    /* Add width and height for image, as well as round corners*/
}
.birdName{
    margin-bottom: 5px;
    font-weight: bold;
}
.birdImage {
    display: flex;
    width: 216px;
    height: 216px;
    border-radius: 20px;
    border: 2px solid rgb(96, 147, 97);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}
.birdAdopt {
    border-radius: 25px;
    margin-left: 30%;
    position: absolute;
    bottom: 0;
}